/* App.css
/* ---------------------------------------------------------- /*

These are just some base styles to get you started. You delete
these and start over using your toolset of choice, or evolve
what's here to work the way you'd like it to.

# Table of Contents

- Vars
- Reset
- Defaults
- Layout
- Tag Archives
- Author Archives
- Pagination
- Footer

/* Variables
/* ---------------------------------------------------------- */

:root {
    /* Colours */
    --color-primary: #3eb0ef;
    --color-base: #15171a;
    --color-secondary: #5b7a81;
    --color-border: #c7d5d8;
    --color-bg: #f5f5f5;

    /* Fonts */
    --font-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    --font-serif: Georgia, Times, serif;
    --font-mono: Menlo, Courier, monospace;
    --font-light: 100;
    --font-normal: 400;
    --font-bold: 700;
    --font-heavy: 800;

    /* Sizes */
    --height: 4rem;
    --margin: 2rem;
    --radius: 0.6rem;
}

/* Layout
/* ---------------------------------------------------------- */

.viewport {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 4vw;
}

.content {
    margin: 0 auto;
    line-height: 1.7em;
}

.content-body {
    display: flex;
    flex-direction: column;
    font-family: var(--font-serif);
}

.post-full-content {
    max-width: 720px;
    margin: 0 auto;
    background: #fff;
}

.post-feature-image img {
    margin: 0 0 3vw;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.content-body h1,
.content-body h2,
.content-body h3,
.content-body h4,
.content-body h5,
.content-body h6 {
    font-family: var(--font-sans-serif);
}

.content-body h1 {
    margin: 1em 0 0.5em 0;
    font-weight: 700;
}

.content-title {
    margin: 0 0 0.8em;
}
@media (max-width: 500px) {
    .content-title {
        margin: 0.8em 0;
    }
}

.content-body h2 {
    margin: 0.8em 0 0.4em 0;

    font-weight: 700;
}

.content-body h3 {
    margin: 0.5em 0 0.2em 0;

    font-weight: 700;
}

.content-body h4 {
    margin: 0.5em 0 0.2em 0;

    font-weight: 700;
}

.content-body h5 {
    display: block;
    margin: 0.5em 0;
    padding: 1em 0 1.5em;
    border: 0;
    font-family: Georgia, serif;
    color: var(--color-primary);
    font-style: italic;
}
/* Reset
/* ---------------------------------------------------------- */

/* Layout
/* ---------------------------------------------------------- */

.viewport {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 4vw;
}

.content {
    margin: 0 auto;

    line-height: 1.7em;
}

.content-body {
    display: flex;
    flex-direction: column;
    font-family: var(--font-serif);
}

.post-full-content {
    max-width: 720px;
    margin: 0 auto;
    background: #fff;
}

.post-feature-image img {
    margin: 0 0 3vw;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.content-body h1,
.content-body h2,
.content-body h3,
.content-body h4,
.content-body h5,
.content-body h6 {
    font-family: var(--font-sans-serif);
}

.content-body h1 {
    margin: 1em 0 0.5em 0;

    font-weight: 700;
}
@media (max-width: 500px) {
    .content-body h1 {
    }
}

.content-title {
    margin: 0 0 0.8em;
}
@media (max-width: 500px) {
    .content-title {
        margin: 0.8em 0;
    }
    .content {
    }
}

.content-body h2 {
    margin: 0.8em 0 0.4em 0;

    font-weight: 700;
}
@media (max-width: 500px) {
    .content-body h2 {
    }
}

.content-body h3 {
    margin: 0.5em 0 0.2em 0;

    font-weight: 700;
}

.content-body h4 {
    margin: 0.5em 0 0.2em 0;

    font-weight: 700;
}

.content-body h5 {
    display: block;
    margin: 0.5em 0;
    padding: 1em 0 1.5em;
    border: 0;
    font-family: Georgia, serif;
    color: var(--color-primary);
    font-style: italic;

    line-height: 1.35em;
    text-align: center;
}

.content-body h6 {
    margin: 0.5em 0 0.2em 0;

    font-weight: 700;
}

.content-body figure {
    margin: 0.4em 0 1.6em;

    font-weight: 700;
}

.content-body pre {
    margin: 0.4em 0 1.8em;

    line-height: 1.4em;
    white-space: pre-wrap;
    padding: 20px;
    background: var(--color-base);
    color: #fff;
    border-radius: 12px;
}

.content-body h6 {
    margin: 0.5em 0 0.2em 0;

    font-weight: 700;
}

.content-body figure {
    margin: 0.4em 0 1.6em;

    font-weight: 700;
}

.content-body pre {
    margin: 0.4em 0 1.8em;

    line-height: 1.4em;
    white-space: pre-wrap;
    padding: 20px;
    background: var(--color-base);
    color: #fff;
    border-radius: 12px;
}

/* Header
/* ---------------------------------------------------------- */

.site-head {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    background: var(--color-base);
    background-position: center;
    background-size: cover;
}

.site-nav-item {
    display: inline-block;
    padding: 5px 10px;
    color: var(--color-base);
    opacity: 0.7;
}

.site-nav-item:hover {
    text-decoration: none;
    opacity: 1;
}

.site-nav-icon {
    height: 15px;
    margin: -5px 0 0;
}

.site-logo {
    height: 200px;
    margin-bottom: 2.5vw;
}

.site-mast {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-mast-right {
    display: flex;
    align-items: center;
}

.site-mast-right .site-nav-item:last-child {
    padding-right: 0;
}

.site-banner {
    max-width: 80%;
    margin: 0 auto;
    padding: 10vw 0;
    text-align: center;
}

.site-banner-logo {
    width: 100%;
    max-width: 30vh;
    max-height: 30vh;
    margin-bottom: 2.5vw;
}

.site-banner-title {
    margin: 0;
    padding: 0;
    color: var(--color-base);

    line-height: 1.3em;
    /* text-transform: lowercase; */
}

.site-banner-desc {
    margin: 5px 0 0 0;
    padding: 0;
    color: #2d7a9c;

    line-height: 1.3em;
}

.site-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5vw 0 0 0;
}

.site-nav-left {
    margin: 0 20px 0 -10px;
}

.site-nav-button {
    display: inline-block;
    padding: 5px 10px;
    border: var(--color-base) 1px solid;
    color: var(--color-base);
    background-color: white;

    line-height: 1em;
    border-radius: var(--radius);
    opacity: 0.7;
}

.site-nav-button:hover {
    text-decoration: none;
}

/* Main
/* ---------------------------------------------------------- */

.site-main {
    padding: 4vw 0;
}

/* Index
/* ---------------------------------------------------------- */

.post-feed {
    display: grid;
    justify-content: space-between;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 980px) {
    .post-feed {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 680px) {
    .post-feed {
        grid-template-columns: 1fr;
    }
}

.post-card {
    color: inherit;
    text-decoration: none;
}

.post-card:hover {
    text-decoration: none;
}

.post-card-tags {
    margin: 0 0 5px 0;

    line-height: 1.15em;
    color: var(--color-secondary);
}

.post-card-title {
    margin: 0 0 10px 0;
    padding: 0;
}

.post-card-excerpt {
    line-height: 1.55em;
}

.post-card-image {
    margin: 0 0 10px 0;
    width: auto;
    height: 200px;
    background: var(--color-secondary) no-repeat center center;
    background-size: cover;
}

.post-card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0 0 0;
    color: var(--color-secondary);
}

.post-card-footer-left {
    display: flex;
    align-items: center;
}

.post-card-footer-right {
    display: flex;
    flex-direction: column;
}

.post-card-avatar {
    width: 30px;
    height: 30px;
    margin: 0 7px 0 0;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-card-avatar .author-profile-image {
    display: block;
    width: 100%;
    background: var(--color-secondary);
    border-radius: 100%;
    object-fit: cover;
}

.post-card-avatar .default-avatar {
    width: 26px;
}

/* Tag Archives
/* ---------------------------------------------------------- */

.tag-header {
    max-width: 690px;
    margin: 0 0 4vw;
}

.tag-header h1 {
    margin: 0 0 1rem 0;
}

.tag-header p {
    margin: 0;
    color: var(--color-secondary);

    line-height: 1.3em;
}

@media (max-width: 500px) {
    .tag-header {
        border-bottom: var(--color-bg) 1px solid;
        padding-bottom: 4vw;
    }
    .tag-header p {
    }
}

/* Author Archives
/* ---------------------------------------------------------- */

.author-header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 4vw;
}

.author-header h1 {
    margin: 0 0 1rem 0;
}

.author-header p {
    margin: 0;
    color: var(--color-secondary);

    line-height: 1.3em;
}

.author-header-image {
    flex: 0 0 auto;
    margin: 0 0 0 4vw;
    height: 120px;
    width: 120px;
    border-radius: 100%;
    overflow: hidden;
}

.author-header-meta {
    display: flex;
    margin: 1rem 0 0 0;
}

.author-header-item {
    display: block;
    padding: 2px 10px;
}

.author-header-item:first-child {
    padding-left: 0;
}

@media (max-width: 500px) {
    .author-header {
        border-bottom: var(--color-bg) 1px solid;
        padding-bottom: 4vw;
    }
    .author-header p {
    }
    .author-header-image {
        height: 80px;
        width: 80px;
    }
}

/* Pagination
/* ---------------------------------------------------------- */

.pagination {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4vw 0 0;
}

.pagination a {
    display: inline-block;
    padding: 10px 15px;
    border: var(--color-border) 1px solid;
    color: var(--color-secondary);
    text-decoration: none;

    line-height: 1em;
    border-radius: var(--radius);
}

.pagination-location {
    position: absolute;
    left: 50%;
    width: 100px;
    margin-left: -50px;
    text-align: center;
    color: var(--color-secondary);
}

/* Footer
/* ---------------------------------------------------------- */

.site-foot {
    padding: 20px 0 40px 0;
    color: rgba(255, 255, 255, 0.7);

    background: var(--color-base);
}

.site-foot-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-foot-nav a {
    color: rgba(255, 255, 255, 0.7);
}

.site-foot-nav a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

.site-foot-nav-right a {
    display: inline-block;
    padding: 2px 5px;
}

.site-foot-nav-right a:last-child {
    padding-right: 0;
}

/* Koenig Styles
/* ---------------------------------------------------------- */

.kg-bookmark-card {
    width: 100%;
    margin-top: 0;
}

.kg-bookmark-container {
    display: flex;
    min-height: 148px;
    color: var(--color-base);
    font-family: var(--font-sans-serif);
    text-decoration: none;
    border-radius: 3px;
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.09);
}

.kg-bookmark-container:hover {
    color: var(--color-base);
    text-decoration: none;
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.09);
}

.kg-bookmark-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
}

.kg-bookmark-title {
    color: color(var(--color-secondary) l(-30%));

    line-height: 1.5em;
    font-weight: 600;
    transition: color 0.2s ease-in-out;
}

.kg-bookmark-container:hover .kg-bookmark-title {
    color: var(--color-primary);
}

.kg-bookmark-description {
    display: -webkit-box;
    overflow-y: hidden;
    margin-top: 12px;
    max-height: 48px;
    color: color(var(--color-secondary) l(-10%));

    line-height: 1.5em;
    font-weight: 400;

    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.kg-bookmark-thumbnail {
    position: relative;
    min-width: 33%;
    max-height: 100%;
}

.kg-bookmark-thumbnail img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 3px 3px 0;

    object-fit: cover;
}

.kg-bookmark-metadata {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 14px;
    color: color(var(--color-secondary) l(-10%));

    font-weight: 400;
}

.kg-bookmark-icon {
    margin-right: 8px;
    width: 22px;
    height: 22px;
}

.kg-bookmark-author {
    line-height: 1.5em;
}

.kg-bookmark-author:after {
    content: "•";
    margin: 0 6px;
}

.kg-bookmark-publisher {
    overflow: hidden;
    max-width: 240px;
    line-height: 1.5em;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Gallery Styles
/* ---------------------------------------------------------- */
.kg-gallery-container {
    display: flex;
    flex-direction: column;
    max-width: 1040px;
    width: 100%;
}

.kg-gallery-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.kg-gallery-image img {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
}

.kg-gallery-row:not(:first-of-type) {
    margin: 0.75em 0 0 0;
}

.kg-gallery-image:not(:first-of-type) {
    margin: 0 0 0 0.75em;
}

.kg-gallery-card + .kg-image-card.kg-width-wide,
.kg-gallery-card + .kg-gallery-card,
.kg-image-card.kg-width-wide + .kg-gallery-card,
.kg-image-card.kg-width-wide + .kg-image-card.kg-width-wide {
    margin: -2.25em 0 3em;
}

/* Custom Page
/* ---------------------------------------------------------- */

h2.custom-page-h2 {
    color: var(--color-base);
    opacity: 0.7;
    margin: 0.8em 0 0.4em 0;

    font-weight: 700;
}
@media (max-width: 500px) {
    h2.custom-page-h2 {
    }
}

h3.custom-page-h3 {
    margin: 0.5em 0 0.2em 0;

    font-weight: 700;
}
@media (max-width: 500px) {
    h3.custom-page-h3 {
    }
}

.shop-wrapper {
    margin-top: 3rem;
}

.purchase-card {
    width: 100%;
    max-width: 100%;
    margin: 0 auto 20px;

    background-color: #fff;
    border-radius: 4px;
    z-index: 10;
}

/* @media only screen and (min-width: 576px) {
    .purchase-card {
        width: 100%;
    }
} */

@media only screen and (min-width: 768px) {
    .purchase-card {
        width: 47%;
    }
}

/* @media only screen and (min-width: 992px) {
    .purchase-card {
        width: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    .purchase-card {
        width: 100%;
    }
} */

.purchase-card-content {
    margin-top: 3rem;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.purchase-card-content img {
    max-width: 50%;
    margin: 1.5em 0;
}

.purchase-card-content .pricing {
    margin: 0;
}

.purchase-card-content .pricing span {
}

.purchase-card h1 {
    margin-bottom: 10px;
}

.purchase-card button {
    width: 100%;
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 0.75rem 0;
    background-color: #343434;
    color: #fff;
}

.pricing-info {
    position: relative;
    display: inline-block;
}

.pricing-breakdown {
    line-height: 1.25rem;
    width: 220px;
    background-color: #343434;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 15px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -110px;
}

.card-box-shadow {
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1),
        0 5px 15px rgba(0, 0, 0, 0.07);
}

.card-dark {
    background-color: #005070;
}

.card-dark h1 {
    color: #fff;
}
.card-dark p {
    color: #ecedef;
}
.card-dark button {
    color: #ecedef;
    background-color: #007c9d;
}
