.flex-cc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-sc {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-ec {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}
